/* mobile first */
/* characters per lines per font are 45-75 ref:"https://www.smashingmagazine.com/2014/09/balancing-line-length-font-size-responsive-web-design/#:~:text=Derived%20from%20this%20number%20is,punctuation)%20per%20line%20for%20print."*/

body {
    width: 85%;
    margin: 0 auto 0 auto;

    font-family: serif;
    font-size: 1.4em;
    letter-spacing: .05em;
    line-height: 1.3em;

    /* background for marking space */
    /* background-color: rgba(255, 0, 0, 0.2); */
}
h1 {
  line-height: 1.3em;
}
/* * Header Section */
/* header { */
    /* background for marking space */
    /* background-color: rgba(0, 255, 0, 0.2); */
/* } */
#karimsface {
    margin-top: 3em;
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
}

/* Navbar-Logic */
.hamburger {
  position: fixed;
  top: 1em;
  right: 2em;
  z-index: 99;
  background: white;
  cursor: pointer;
}
.menu {
  position: fixed;
  top: 2em;
  right: 1em;
  z-index: 90;

  display: flex;
  flex-direction: column;
  gap: .3em;

  list-style: none;
  background: rgba(255, 255, 255, 0.95);

  transform: translateX(120%);
  transition: transform 0.3s ease;
}
.menu:target {
  /* show menu */
  transform: translateX(0%);
}

a {
  color: rgb(30, 30, 30);
  font-weight: bold;
  /* background-color: rgba(0, 0, 0, 0.1); */
  text-decoration: none;
}
/* *styling main */
/* *styling definition lists */
/* dl {} */
/* dt {} */
/* dd {} */

/* .download {
  display: inline-block;
} */