/*? quick notes */
/* characters per lines per font are 45-75 ref:"https://www.smashingmagazine.com/2014/09/balancing-line-length-font-size-responsive-web-design/#:~:text=Derived%20from%20this%20number%20is,punctuation)%20per%20line%20for%20print."*/

/* -------------- */
/*? general ideas */
/** styling for mobile first, then laptop and desktop screen sizes */



/* --------------- */

/* ? stlying */
/** css reset */
h1, h2, h3, h4, h5, h6 {
  font-size: 1.3em;
  margin: 0 0 0 0;
}
hr {
  margin: 2em 0 2em 0;
}
a {
  color: rgb(30, 30, 30);
  font-weight: bold;
  /* font-style: italic; */
  /* background-color: rgba(0, 0, 0, 0.1); */
  text-decoration: none;
  letter-spacing: 0.06em;
}
a:active{
  text-decoration: underline;
  background-color: rgba(238, 216, 118, 0.8);
}
body {
    width: 85%;
    margin: 0 auto 0 auto;

    font-family: serif;
    font-size: 1.4em;
    letter-spacing: .05em;
    line-height: 1.3em;
}
/* * adapt to darkmode */
@media (prefers-color-scheme: dark) {
  .download img {
    filter: invert(1);
  }
}

/* ? header section styling */
#karimsface {
    margin-top: 3em;
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
}
/** Navbar-Logic */
.hamburger {
  position: fixed;
  top: 1em;
  right: 2em;
  z-index: 99;
  background: white;
  cursor: pointer;
}
.menu {
  position: fixed;
  top: 2em;
  right: 1em;
  z-index: 90;

  display: flex;
  flex-direction: column;
  gap: .3em;

  list-style: none;
  background: rgba(255, 255, 255, 0.95);

  transform: translateX(120%);
  transition: transform 0.3s ease;
}
.menu:target {
  /* show menu */
  transform: translateX(0%);
}




/* ? Styling for Mobile Screens */

@media (min-width: 320px) {
  /** general styling */
  /** styling headings */
  h1 {
    margin: 1em 0 0 0;
  }
  h2, h3 {
    margin: 1em 0 0.5em 0;
    font-size: 1.2em;
  }
  h3, h4, h5 {
    font-size: 1em;
  }
  /** styling lists and list elements*/
  ul {
    margin: 0 0 0.5em 0;
  }
  li {
    margin: 0.2em 0 0.2em 0;
  }
  /**styling definition lists and elements*/
  dl {
    margin: 0.3em 0 0.8em 0;
  }
  dt {
    margin: 0.4em 0 0 0;
  }
  dd {
    margin: 0em 0 0.4em 1.8em;
    font-size: 1.1em;
  }

  /** styling inline elements */
  /* currently only span at Languages */
  span {
    margin: 0 3em 0 0;
    float: right;
  }

  /* ! styling sections */
  /* download sections */
  section.download p {
      margin: 1em 0 1em 0;
      text-align: center;
      word-spacing: 1em;
  }
  section.download img {
      width: 1.5em;
      height: 1.5em;
  }

  /* sections with dates and quick summaries */
  /* like 'biography' & 'education' */
  section.time-heading p {
    margin: 0em 0 0em 0.5em;
    /* text-align: right; */
    font-size: 1em;
    font-style: italic;
  }

  /* section 'biography' */
  section.biography h4, h5 {
    margin: 0.5em 0 0.5em 0.5em;
  }
  section.biography dl {
    margin: 0em 0 1.5em 0.8em;
  }
  /* section 'education' nested in biography */
  section.education p {
    margin: 0em 0 0em 0.5em;
  }
  section.biography a {
    font-size: 0.9em;
  }
}
/* ! Tablet Screens */
/* @media (min-width: 768px) {} */

/* ! Medium Size Screens */
/* @media (min-width: 992px) {} */

/* ! Desktop Size Screens */
/* @media (min-width: 1200px) {} */