/*? quick notes */
/* characters per lines per font are 45-75 ref:"https://www.smashingmagazine.com/2014/09/balancing-line-length-font-size-responsive-web-design/#:~:text=Derived%20from%20this%20number%20is,punctuation)%20per%20line%20for%20print."*/

/* -------------- */
/*? general ideas */
/* styling for mobile first, then laptop and desktop screen sizes */
/* No Javascript */
/* css animations should be able to be turned off and yet preserving the functionality of the site */


/* --------------- */
/* TODOs: */
/* Akkordeons für Subsections */
/* impressum footer, immer sichtbar rechts unten href="#contact"*/
/* --------------- */

/* ? stlying */
/* *fonts */
@font-face {
    font-family: 'RobotoRegular';
    src: url('./fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('.fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('./fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('.fonts/Roboto-BoldItalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('./fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('.fonts/Roboto-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoItalic';
    src: url('./fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('.fonts/Roboto-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLightItalic';
    src: url('./fonts/Roboto-LightItalic-webfont.woff') format('woff'),
         url('.fonts/Roboto-LightItalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLight';
    src: url('./fonts/Roboto-Light-webfont.woff') format('woff'),
         url('.fonts/Roboto-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('./fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('.fonts/Roboto-MediumItalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('./fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('.fonts/Roboto-Medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** css reset */
hr {
  margin: 0 0 0 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0 0;
  font: 1.6em 'RobotoBold', 'Arial', sans-serif;
  letter-spacing: 0em;
}
/*? p und a größen variieren in den Grundeinstellungen? */
p {
  font: 1.4em 'RobotoRegular', 'Arial', sans-serif; 
  letter-spacing: 0.03em; 
}
a {
  color: rgb(26, 26, 100);
  font-family: 'RobotoItalic', 'Arial', sans-serif; 
  /* letter-spacing: 0.0em; */

  text-decoration: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.877);
}
a:active{
  text-decoration: underline;
  background-color: rgba(238, 216, 118, 0.8);
}
li {
  font: 1.4em 'RobotoRegular', 'Arial', sans-serif; 
  letter-spacing: 0.03em; 
}
span {
  font: 1.4em 'RobotoRegular', 'Arial', sans-serif;
  letter-spacing: 0;
}
dt {
  font: 1.4em 'RobotoMediumItalic', 'Arial', sans-serif; 
  letter-spacing: 0.03em; 
}
dd {
  font: 1.3em 'RobotoLight', 'Arial', sans-serif;
  letter-spacing: 0.02em;
}
time {
  font-family: 'RobotoMedium', 'Arial', sans-serif;
}
summary {
  font: 1.4em 'RobotoMedium', 'Arial', sans-serif;
  margin: 0 0 0.4em 0;
}
body {
    width: 85%;
    margin: 0 auto 0 auto;
    line-height: 1.3em;
}

/* ? header section styling */
#karimsface {
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
}
/** Navbar-Logic */
/* collapsing navbar, aligned right */
.hamburger {
  position: fixed;
  /* margin: 1em 1em 0 0; */
  top: 1em;
  left: 1.2em;
  z-index: 99;
  background: white;
  cursor: pointer;
}
/* list that is hidden by default  */
.menu {
  position: fixed;
  top: 1.8em;
  left: 0em;
  z-index: 90;

  display: flex;
  flex-direction: column;
  gap: .3em;

  list-style: none;
  background: rgba(255, 255, 255, 0.95);

  transform: translateX(-120%);
  transition: transform 0.3s ease;
}
.menu:target {
  /* show menu */
  transform: translateX(0%);
}




/* ? Styling for Mobile Screens */

@media (min-width: 320px) {
  /** general styling */
  /** styling headings */
  h1 {
    margin: 1em 0 0 0;
  }
  h2, h3 {
    margin: 1em 0 0.5em 0;
  }
  /** styling lists and list elements*/
  ul {
    margin: 0 0 0.5em 0;
  }
  li {
    margin: 0.2em 0 0.2em 0;
  }
  /**styling definition lists and elements*/
  dl {
    margin: 0.3em 0 0.8em 0;
  }
  dt {
    margin: 0.4em 0 0 0;
  }
  dd {
    margin: 0em 0 0.4em 1.8em;
  }

  /** styling inline elements */
  /* currently only span at Languages */
  span {
    margin: 0 3em 0 0;
    float: right;
  }
  hr {
    margin: 2em 0 2em 0;
  }

  /* * styling Header */
  header {
    text-align: right;
  }

  /* ! styling sections */
}
/* ! Tablet Screens */
/* @media (min-width: 768px) {} */

/* ! Medium Size Screens */
@media (min-width: 992px) {
  body {
    width: 50%;
  }
}

/* ! Desktop Size Screens */
@media (min-width: 1200px) {
  body {
    width: 40%;
  }
}